Flask==2.3.2
flask-cors
gtts
speechrecognition
transformers
torch
pillow
opencv-python
googletrans==4.0.0-rc1
pydub
openai
ffmpeg
sentence-transformers faiss-cpu flask
wikipedia
# pip install flask sentence-transformers faiss-cpu torch transformers
# googletrans==4.0.0-rc1
# pip install deep-translator
# pip install SpeechRecognition pyaudio gTTS playsound deep-translator
# tensorflow
# pip install tf-keras
# pip install opencv-python scikit-image numpy

